[submodule "deps/abcBridge"]
	path = deps/abcBridge
	url = https://github.com/GaloisInc/abcBridge.git
[submodule "deps/aig"]
	path = deps/aig
	url = https://github.com/GaloisInc/aig.git
[submodule "deps/crucible"]
	path = deps/crucible
	url = https://github.com/GaloisInc/crucible.git
[submodule "deps/cryptol"]
	path = deps/cryptol
	url = https://github.com/GaloisInc/cryptol.git
[submodule "deps/jvm-parser"]
	path = deps/jvm-parser
	url = https://github.com/GaloisInc/jvm-parser.git
[submodule "deps/jvm-verifier"]
	path = deps/jvm-verifier
	url = https://github.com/GaloisInc/jvm-verifier.git
[submodule "deps/llvm-pretty"]
	path = deps/llvm-pretty
	url = https://github.com/elliottt/llvm-pretty.git
[submodule "deps/llvm-pretty-bc-parser"]
	path = deps/llvm-pretty-bc-parser
	url = https://github.com/GaloisInc/llvm-pretty-bc-parser.git
[submodule "deps/parameterized-utils"]
	path = deps/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils.git
[submodule "deps/saw-core"]
	path = deps/saw-core
	url = https://github.com/GaloisInc/saw-core.git
[submodule "deps/flexdis86"]
	path = deps/flexdis86
	url = https://github.com/GaloisInc/flexdis86.git
[submodule "deps/macaw"]
	path = deps/macaw
	url = https://github.com/GaloisInc/macaw.git
[submodule "deps/elf-edit"]
	path = deps/elf-edit
	url = https://github.com/GaloisInc/elf-edit.git
[submodule "deps/dwarf"]
	path = deps/dwarf
	url = https://github.com/GaloisInc/dwarf.git
[submodule "deps/cryptol-specs"]
	path = deps/cryptol-specs
	url = https://github.com/galoisinc/cryptol-specs
[submodule "deps/what4"]
	path = deps/what4
	url = https://github.com/GaloisInc/what4.git
[submodule "deps/saw-core-coq"]
	path = deps/saw-core-coq
	url = https://github.com/GaloisInc/saw-core-coq.git
