saw-version/src/SAWVersion/GitRev.hs
/bin
cabal.sandbox.config
cabal.project.local
dist
build
build-tests
*-test-results.xml
tmp
build-sandbox-version-pins.txt
.stack-work
stack.yaml
.DS_Store
.ghc.environment*
dist-newstyle
cabal.project.freeze
*~
*#
.#*
saw-core-coq/coq/.Makefile.coq.d
