services:
  saw-script:
    build:
      context: ..
      dockerfile: ${PWD:-.}/../saw/Dockerfile
    entrypoint: ["cp", "/usr/local/bin/saw", "/usr/local/bin/abc", "/usr/local/bin/yices", "/usr/local/bin/yices-smt2", "/usr/local/bin/z3", "/saw-bin"]
    user: root
    volumes:
      - ${PWD:-}/bin:/saw-bin:rw

  s2n:
    build:
      context: .
      dockerfile: ${PWD:-.}/docker/s2n.dockerfile
    image: s2n
    volumes:
      - ${PWD:-.}/bin:/saw-bin:rw
      - ${PWD:-.}/cache:/saw-cache:rw

  awslc:
    build:
      context: .
      dockerfile: ${PWD:-.}/docker/awslc.dockerfile
    image: awslc
    volumes:
      - ${PWD:-.}/bin:/saw-bin:rw
      - ${PWD:-.}/cache:/saw-cache:rw

  blst:
    build:
      context: .
      dockerfile: ${PWD:-.}/docker/blst.dockerfile
    image: blst
    volumes:
      - ${PWD:-.}/bin:/saw-bin:rw
      - ${PWD:-.}/cache:/saw-cache:rw
