.cache
.local
.saw
logs
results.xml
results.xml.tmp
tmp
test_intro_examples/*.cnf
test_llvm_x86_0[1234]/test
test_llvm_x86_0[1234]/test.o
test_llvm_x86_0[1234]/test.bc
test1533/test.o
test*/*.out
test_profiling/prof
test_smtlib/*.smt2
